@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {font-size: 40px;text-align: center;font-family: 'Rock Salt', cursive;
	color: rgba(255, 255, 255, 1);
	}
h1:hover {
    letter-spacing:3px;
    text-shadow:0 0 5px #fff;
	  transition-duration: 1s;
}

* {
	font-family: 'Special Elite';
	color: rgba(255, 255, 255, 1);
}

.breadcrumb::after /* æŽˆæƒ*/ 
{
    content:'CSS by #3609';
    position:absolute;
    right:35px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

body {
	background-image:url("https://s2.loli.net/2023/07/09/iHzjO7l2vtcrT9V.jpg")!important;
	background-position: center;
  background-size:cover !important;
}
