@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {font-size: 40px;text-align: center;font-family: 'Rock Salt', cursive;
	color: rgba(255, 255, 255, 1);
	}
h1:hover {
    letter-spacing:3px;
    text-shadow:0 0 5px #fff;
	  transition-duration: 1s;
}

* {
	font-family: 'Special Elite';
	color: rgba(255, 255, 255, 1);
}

.breadcrumb::after /* æŽˆæƒ*/ 
{
    content:'CSS by #3609';
    position:absolute;
    right:35px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

body {
	background-image:url("https://s2.loli.net/2023/07/09/iHzjO7l2vtcrT9V.jpg")!important;
	background-position: center;
  background-size:cover !important;
}

img {
      -webkit-filter: grayscale(80%); /* Chrome, Safari, Opera */
    filter: grayscale(80%);
}

img:hover {
      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    transition-duration: 0.5s;
}

/* SC Icon */ .icon-beetle-silver, .icon-silver-cone {
    filter: grayscale(80%);
}
.icon-beetle-silver, .icon-silver-cone:hover {
    filter: grayscale(0%);
}

/* GC icon */ .icon-beetle-gold, .icon-gold-cone {
    filter: grayscale(80%);
}
.icon-beetle-gold, .icon-gold-cone:hover {
    filter: grayscale(0%);
}

img.mr-2 /* Alert Icons for Hunting, etc. */ {
    filter: grayscale(80%);
}
img.mr-2:hover{
    filter: grayscale(0%);
}

.icon {
    filter: grayscale(80%);
}
.icon:hover {
    filter: grayscale(0%);
}

/* ä¿¡æ¯è®¡æ•° */
.badge-danger {
  background-color: rgba(255, 255, 255, 1);
	color: rgba(1, 1, 1, 1);
}

#bookmarkPage.fas.fa-bookmark.text-danger /* Bookmark Icon */ {
    color: #fff !important;
}

/* Home å·¦ä¾§ä¹¦ç­¾ç­‰é“¾æŽ¥é¢œè‰²*/ 
a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}

a:hover {
	color: rgba(200, 200, 200, 1);
	text-shadow:0 0 5px #fff;
	text-decoration: none !important;
	letter-spacing:0.5px;
	transition-duration: 0.5s;
}


/* å¯¼èˆªåº•è‰² DEN CROSSROAD */
#header .navbar-main, #footer {
	background-image: url(https://s2.loli.net/2023/07/10/JscezvaOfpu8PLZ.png)!important;
}

/* å¯¼èˆªé“¾æŽ¥é¢œè‰² DEN CROSSROAD */
#header .navbar-main .nav-link, #header .navbar-main .nav-link .fa {
	color: rgba(255, 255, 255, 1);
}

#header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa, #footer a:hover, #footer nav .nav-item .nav-link:hover {
	color: rgba(240, 240, 240, 1);
	text-shadow:0 0 5px #fff;
	letter-spacing:0.5px;
	transition-duration: 0.5s;
}

/* Welcome back */
.navbar-status 
{
    background-color: rgba(30, 35, 30, 0.8) !important;
    border-top: double 4px #fff;
    color:  rgba(255, 255, 255, 1) !important;
} .navbar-status a {
    color: rgba(255, 255, 255, 1) !important;
} .btn-group-vertical>.btn, .btn-group>.btn /* Username in that bar */ {
    color: rgba(255, 255, 255, 1) !important;
}
.icon-beetle-silver, .icon-silver-cone {
    color: rgba(255, 255, 255, 1);
}

i.fas.fa-mars.text-danger /* Breeding Male, Heat, etc. Symbol of Lead Wolf */ {
    color: #fff !important;
}

.btn-group-sm>.btn, .btn-sm /* 'Remove' Symbol + Text below Featured Wolf */ {
    color: #fff !important;
}

/* home, username, pack */
#header .breadcrumb-nav {
	background-color: rgba(30, 80, 80, 0);
}

.breadcrumb-item.active {
	color: rgba(255, 255, 255, 1);
}

/* æç¤º */
.alert{
	background-image: url(https://s2.loli.net/2023/07/10/JscezvaOfpu8PLZ.png)!important;
	color: rgba(255, 255, 255, 1);
	border:solid 1px rgba(255 ,255 ,255 ,1);
}
 .alert a {
    font-style:italic;
    text-decoration: underline;
    color: rgba(230, 230, 230, 1) !important;
}.alert a:hover {
    color: rgba(255, 255, 255, 1) !important;
    font-style:italic;
    text-decoration: underline;
    letter-spacing:0.5px;
	  transition-duration: 0.5s;
}

/* ä¸»æ¿ */
#main {
  background-color: rgba(1, 1, 1, 0.4);
}

/* DEN/PROFILE æŒ‰é”® */

.nav-tabs /* Section containing the Den and Profile buttons */ {
  padding-bottom:10px;
  justify-content: center;
  border-bottom:double 4px #fff;
}
.nav-tabs .nav-link /* Individual Den and Profile buttons */ {
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: rgba(255, 255, 255, 1)!important;
}
.nav-tabs .nav-link:hover /* Hover of inactive button */ {
    border: none;
    font-weight: bold;
    color: rgba(240, 240, 240, 1);
  	text-shadow:0 0 5px #fff;
	  letter-spacing:0.5px;
  	transition-duration: 0.5s;
}
.nav-tabs .nav-link.active /* Link of the page being viewed */ {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

/* pack dynasty,feed all play all,Expand Territory */
#main .card {
	background-color: rgba(10, 10, 10, 0.8);
}

 div.card.text-center>img /* Dystasy, etc. Images */ {
}


.card-header {
	border: none;
}

/* å±•ç¤ºç‹¼å¤´åƒ */
.featured-wolf img 
{
    border: none;
}


.border-none .card img{
    border: none;
}


/* ä¸»ç‹¼å¤´åƒèƒŒæ™¯ */ 
.border-none .card 
{
    background-color:transparent !important;
}


/* ç¬¬äºŒå¤§ä¸»æ¿ */
.table {
  background-color: rgba(10, 10, 10, 0);
  border:none;
  
}

.badge-info {
  color:#000;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Leader,Caveæ ‡é¢˜åº•è‰² */
.table th {
	background-color: rgba(30, 35, 30, 0.8) !important;
  color: rgba(255, 255, 255, 1);
  border-bottom: double 4px #fff;
  font-family: 'Rock Salt';
  text-align: center;
  font-size: 20px !important;
  
}

/* Leader,Caveé“¾æŽ¥é¢œè‰² */
.table th a {
	color: rgba(255, 255, 255, 1);
}

.table th a:hover {
	color: rgba(200, 200, 200, 1);
	text-shadow:0 0 5px #fff;
	text-decoration: none !important;
	letter-spacing:0.5px;
	transition-duration: 0.5s;
}

/* æ¬¡çº§æ ‡é¢˜é¢œè‰²ï¼Œå¬å›žç‹¼ */
.table .subheader {
	background-color: rgba(10, 10, 10, 0.4);
}

/* ï¼Ÿ */
.table .left {
	background-color: rgba(10, 10, 10, 0);
	border-right: solid 1px #fff;
}

/* Feed/Play æŒ‰é’® */ 
.btn-info 
{
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow:none;
}.btn-info:hover {
    background: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.6);
    transition-duration: 0,5s;
}

/* åŒè‰²æ¡ */
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(1, 1, 1, 0);
}

/* caveä¸‹æ–¹é€‰æ‹©åº•è‰²ç­‰ */
.table td.bottom {
	background-color: rgba(10, 15, 10, 0.8);
}

/* card veiwå°æ ‡é¢˜ç‹¼åå­—åº•è‰² */
.bg-dark {
  background-color: rgba(10, 15, 10, 1)!important;
}

/* card veiwå¡ç‰‡åº•è‰² */
.bg-light {
  background-image: url(https://s2.loli.net/2023/07/10/JscezvaOfpu8PLZ.png)!important;
  background-size: cover;
}
.bg-light:hover {
  background-image: url(https://s2.loli.net/2023/07/10/JscezvaOfpu8PLZ.png)!important;
  background-size: cover;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    transition-duration: 1s;
}

/* è¾¹åŒºå¤§åº•è‰² */
#sidebar {
	background-color: rgba(1, 1, 1, 0.4);
}

#sidebar .multi-column {
	padding-top: 15px;
}

/* è¾¹åŒºå¡ç‰‡åº•è‰² */
#sidebar .card {
  background-color: rgba(30, 35, 30, 0.8) !important;
  background-size: cover;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
}

.card-body .w-50:first-child div /* Border featured wolf in Sidebar */ {
border: none !important;
}

.w-50 > a img /* Wolf Icon Sidebar */ {
    border: none;
}
.w-50 div a img /* Featured Wolf Icon Sidebar */ {
    border: none;
}

/* çŠ¶æ€åº•è‰² */
.progress {
	background: rgba(70,75,70,1) !important;
}

/* èƒ½é‡ */
.bg-warning, #main .bg-success  {
	background-color: rgba(250, 255, 250, 1) !important;
}


#sidebar .bg-danger, .bg-primary {
	background-color: rgba(220, 225, 220, 1) !important;
}


#sidebar .bg-info, #main .bg-danger {
	background-color: rgba(190, 195, 190, 1) !important;
}


#sidebar .bg-success, #main .bg-info {
	background-color: rgba(160, 165, 160, 1) !important;
}

#chatMessagePinned.s-chat-message__pinned {
  border: none;
	background-color: rgba(10, 10, 10, 0.6);
	color:rgba(255, 255, 255, 1);
}

.s-chat-message__pinned a {
 color:rgba(255, 255, 255, 1); 
}

/* æ»šåŠ¨æ¡ */
::-webkit-scrollbar {
  background:rgba(10,10,10,1);
	width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(185, 195, 195, 1);
}

/* èŠå¤©æ */
.s-chat-sidebar #chatMessageList {
	height: 370px;
		border:none important;
	box-shadow:none important;
}

.s-chat-message:nth-child(odd) {
	background: rgba(255, 255, 255, 0.2);
}

.s-chat-message:nth-child(even) {
	background: rgba(255, 255, 255, 0);
}

 input#btnChatSend.btn.btn-primary.btn-sm:hover{border-color: black !important;}
/*0/150*/ 
#txtChatContainer #lblCharacterCounter { color: rgba(255, 255, 255, 1);
/* Code of Conduct*/
} #txtChatContainer a { color: rgba(255, 255, 255, 1);
}
/* ç›®å‰æ‰€åœ¨chat*/
.s-chat-sidebar #label_currentChannel {
    color: #fff !important;
    background-color: rgba(10, 15, 10, 0.6) !important;
}
.s-chat-sidebar #label_currentChannel:hover{
}
/* ç›®å‰æ‰€åœ¨chatä¸‹æ‹‰*/
.s-chat-sidebar #fraChatChannelMenu {
    color: #fff !important;
    background-color: rgba(10, 15, 10, 1) !important;
}
.s-chat-sidebar #fraChatChannelMenu:hover{
    color: #fff !important;
    background-color: rgba(10, 15, 10, 1) !important;
}
/* ç›®å‰è¢«é€‰ä¸­chat*/
#fra_chatContainer .channelMenu .channelSwitcher.active {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
/* ç›®å‰æœªè¢«é€‰ä¸­chat*/
#fra_chatContainer .channelMenu .channelSwitcher{
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.s-chat-message_timestamp {
  color: #fff ;
}

#fra_chatContainer #txtChatInput {
    color: #fff !important;
    background-color: rgba(10, 15, 10, 0.6) !important;
    border:solid 1px #fff;
}

.s-chat-sidebar #chatMessageContainer{
 border:solid 1px #fff; 
}

/* Update æŒ‰é’®*/
.btn-primary, .btn-success {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-success:hover, .btn-success:focus {
    background: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.6);
    transition-duration: 0,5s;
}

/* ä¸æœ½æ§½æŒ‰é’®*/
.btn-warning {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow:none;
}

.btn-warning:hover, .btn-warning:focus {
    background: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.6);
    transition-duration: 0,5s;
} 

/* -reportæŒ‰é’®*/
.btn-danger {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow:none;
}

.btn-danger:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.6);
    transition-duration: 0,5s;
}

.btn-info /* Feed/Play Buttons */ {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow:none;
}.btn-info:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    border:none;
    box-shadow: 2px 2px 3px 1px rgba(255, 255, 255, 0.6);
    transition-duration: 0,5s;
}

/* userlogä¸‹æ‹‰å¤„*/
.dropdown-menu.show {
    background-color: rgba(10, 10, 10, 0.7);
}.dropdown-item:hover {
    background-color: rgba(10, 10, 10, 1);
}
.dropdown-divider {
    border: none;
}

select.form-control /* Pack Leader + Wolf Title selectrion */ {
    color: #fff !important;
    background-color: rgba(10, 10, 10, 0.7) !important;
    border:solid 1px rgba(255 ,255 ,255 ,0.6);
}
select.form-control:hover{
    border:solid 1px rgba(255 ,255 ,255 ,1);
}

/* BOTTOM EDITOR */

/* editoræŒ‰é’®é¢œè‰² */ 
.btn.btn-htmlinput {
  background: rgba(10, 15, 10, 1);
  border:none;
}

/* editoræŒ‰é’®èƒŒåŽæ•´ä¸ªæ¡é¢œè‰² */ 
.bg-bar-input {
  background: rgba(255, 255, 255, 0.6);
}

/* æ·»åŠ cssæ¡ */ 
.form-control  {
    color: #fff !important;
    background-color: rgba(10, 10, 10, 0.7) !important;
    border:solid 1px rgba(255 ,255 ,255 ,0.6);
}
select.form-control:hover{
    border:solid 1px rgba(255 ,255 ,255 ,1);
}

/* Box*/ 
.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

/*H Box1 Large*/
.Box1 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 55px;
	width: 92%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box1:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*H Box2 Medium*/
.Box2 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 55px;
	width: 42%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box2:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*H Box3 Small */
.Box3 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 55px;
	width: 24%;
	overflow: hidden;
	transition: height 1s;
	padding: 15px;
	text-align: center;
}
.Box3:hover {
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
}

/*S Box4 Small */
.Box4 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 180px;
	width: 24%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}

/*S Box5 Medium*/
.Box5 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 180px;
	width: 42%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}

/*S Box6 Large*/
.Box6 {
	float: left;
  background-color: rgba(30, 35, 30, 0.8) !important;
	border-top: double 4px #fff;
	border-bottom: double 4px #fff;
	color: #FFF;
	padding: 0px;
	border-radius: 1px;
	margin: 5px;
	height: 180px;
	width: 92%;
	overflow: auto;
	padding: 15px;
	text-align: center;
}

/*  Fog code orginally by BunBoo@Codepen  */

.fog {
z-index:-1;
min-width: 2800px;
position: fixed;
animation-name: fog;
animation-duration: 8s; 
animation-direction: alternate;
animation-iteration-count: infinite;
animation-timing-function: linear
}

@keyframes fog {
    from {right: -200px;}
    to {right: 0px; }
  }
